model:
  type: VISION_CLS
  name: resnet18
  cpt_url: "file://data/models/ilsvrc2012-resnet18_from_resnet34.pt"
  params:
    pretrained: False
    num_classes: 1000

training:
  criterion: CrossEntropyLoss
  optimizer: RAdam
  learning_rate: 0.0003
  max_epochs: 40
  val_check_interval: 0.25
  log_every_n_steps: 100
  loggers:
    WandbLogger:
      params:
        name: resnet18-rniq
        note: "distilled 71.93 STE"
 
  callbacks:
    ModelCheckpoint:
      params:
        monitor: Metric/ns_Accuracy_top1
        mode: max
        auto_insert_metric_name: False
        filename: rniq_checkpoint-{epoch:02d}-{Metric/ns_Accuracy_top1:.4f}
    TemperatureScale:
      params:
        scale_lr: 1
        scale_anneal: 0.9995
        warmup: 100
    NoiseEarlyStopping:
      params:
        monitor: Metric/ns_Accuracy_top1
        mode: max
        patience: 10
        min_delta: 0.0001    


data:
  dataset_name: IMAGENET
  data_dir: ./data/imagenet/
  batch_size: 250
  num_workers: 8


quantization:
  name: RNIQQuant
  qscheme: 1 # 0 for per-tensor, 1 for per-channel
  act_bit: 1
  weight_bit: 1
  freeze_batchnorm: False
  fuse_batchnorm: False
  quantize_bias: False
  activation_zero_point: 0.0
  excluded_layers:
    - 'conv1'
    - 'fc'
  calibration:
    act_bit: 10
    weight_bit: 10
  params:
    distillation: True
    distillation_loss: Symmetrical KL
    qnmethod: STE # AEWGS, EWGS
